/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/.workbuddy
/spec
/hap_tmp
/build_napi
/build_napi_arm64
/*.jpeg
/*.p12
/*.cer
/*.csr
/*.p7b
/build_host
/.freebuff
